<!DOCTYPE html>
<html>
  <head>
    <title>Главная</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul class="list">
      <li><a href="/table?table=actor">Актеры</a></li>
      <li><a href="/table?table=contracts">Контракты</a></li>
      <li><a href="/table?table=employment">Занятость</a></li>
      <li><a href="/table?table=performance">Представление</a></li>
      <li><a href="/table?table=rank">Звания</a></li>
    </ul>
  </body>
</html>
